div{
                              background-color: red;
                             background-size: 200px;
}
.m{
                              background-size:200px ;
                              background-color: aqua
}